.card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.back-btn {
    display: block;
    margin: 10px 42%;
    font-size: 2em;
    color: white;
    text-decoration: none;
}

.back-btn:visited {
    text-decoration: none;
}

.back-btn:hover {
    color: yellow;
}