.card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-lines: <2>;
}

.back-btn {
    display: block;
    margin: 10px 42%;
    font-size: 2em;
    color: white;
    text-decoration: none;
}

.back-btn:visited {
    text-decoration: none;
}

.back-btn:hover {
    color: yellow;
}

.showMoreBtn {
    width: 100px;
    height: 50px;
    color: white;
    background-color: turquoise;
    margin: 2% 45%;
    border-radius: 50%;
}