.card {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    font-family: 'Raleway';
    font-size: 14px;
    height: 400px;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 20px;
    opacity: 0.75;
    padding: 10px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

.headers {
    font-size: 20px;
    font-weight: 900;
}


@media screen and (max-width: 900px) {
    .card {
        flex: 0 1 30%;
    }

    h2 {
        font-size: 16px;
    }

    .headers {
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) {
    .card {
        flex: 0 1 40%;        
    }
}

@media screen and (max-width: 560px) {
    .card {
        flex: 0 1 80%;        
    }
}