header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

h1 {
  color: white;
  font-family: 'Star Jedi Outline';
  font-weight: 200;
  font-size: 60px;
  opacity: 0.9;
}

.icon {
  color: yellow;
}

.change-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.btns {
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 16px;
  margin: 1%;
  opacity: 0.8;
  padding: 10px;
  width: 150px;
}

.btns:hover {
  background-color: turquoise;
  color: white;
  font-weight: bold;
  outline: none;
}

.btns:focus {
  background-color: yellow;
  color: black;
}

.change-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}