header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lightside-header h1 {
  color: yellow;
}

.change-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.btns {
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 16px;
  opacity: 0.8;
  padding: 10px;
  width: 150px;
  margin: 1%;
}

.btns:hover {
  background-color: turquoise;
  font-weight: bold;
  outline: none;
  color: white;
}

.btns:focus {
  background-color: yellow;
  color: black;
}